<!DOCTYPE html>
<html>
  <head>
    <title>Fotopx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
            window.homePhotoURL = "<%= image_url('home.png') %>";
            window.jerryProfileURL = "<%= image_url('js-profile.PNG') %>";
        </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
